<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tokko.recipesv2" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.tokko.recipesv2.gcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.tokko.recipesv2.gcm.permission.C2D_MESSAGE" />

    <application
        android:name=".RecipeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".groceries.GroceryListActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.DarkActionBar">
        </activity>
        <activity android:name=".authentication.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".gcm.GcmReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.tokko.recipesv2.gcm" />
            </intent-filter>
        </receiver>

        <service
            android:name=".gcm.GcmListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service android:name=".gcm.GcmRegistrationService" />
        <service
            android:name=".gcm.GcmInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <activity
            android:name=".masterdetail.ItemListActivity"
            android:label="@string/title_item_list">

        </activity>
        <activity
            android:name=".masterdetail.ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".masterdetail.ItemListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tokko.recipesv2.masterdetail.ItemListActivity" />
        </activity>
        <!--
        <meta-data android:name="roboguice.modules"
            android:value="com.tokko.recipesv2.masterdetail.MasterDetailGuiceModule,com.tokko.recipesv2.groceries.GroceryGuiceModule" />
            -->
    </application>

</manifest>
